/*사용하는 색깔 변수 by_Juni*/
:root{
    --navbar-color: white;
    --content-color: black;
    --content-background-color: #FBEFFB;
    --background-color: #efadcf;
    --accent-nav-color: #005ea6;
    --accent-content-color:#efadcf;
    --accent-tag-color:#80afd3;

}

/*font 적용 by_Juni*/
@font-face {
    src: url("../font/배스킨라빈스+B.ttf");
    font-family:'BR_font';
}

body {
    margin: 0;
    font-family: 'BR_font';
    list-style: none;
    background-color: var(--content-background-color);
}

body a {
    text-decoration: none;
    color: var(--content-color);
}

.navbar a{
    text-decoration: none;
    color: var(--navbar-color);
}


/*상단 bar by_Juni*/
.navbar{
    display:flex;
    justify-content: space-between;
    align-items : center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar_logo{
    font-size: 24px;
    color: var(--navbar-color);
}

.navbar_logo i {
    color: var(--accent-nav-color);
}

.navbar_menu{
    display: flex;
    list-style:none;
    padding-left:0;
}

.navbar_menu li {
    padding : 8px 12px;
}

.navbar_menu li:hover {
    background-color : var(--accent-nav-color);
    border-radius: 4px;
}

.navbar_icons{
    list-style:none;
    color:var(--accent-nav-color);
    display: flex;
    padding-left:0;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_icons i{
    color:var(--accent-nav-color);
}

.navbar_toggleBtn{
    display:none;
    position: absolute;
    right:32px;
    font-size:24px;
    color:var(--accent-nav-color);
}

/*login_contents*/

.logo {
    color:var(--accent-nav-color);
}

.login_box{
    width: 70%;
    padding: 8px 12px;
    margin: 150px auto 0 auto;
    text-align: center;
    
}

.form-label-group{
    margin-bottom: 5px;
}

.login_form{
    font-size: 13px;
    margin: 50px auto 0 auto;
}

.button-group{
    margin-top: 50px;
    cursor:pointer;
}

.login_button{
    text-align: center;
    font-size:15px;
}



/*웹 페이지 크기 작아질 때 변경되는 css by_Juni*/
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .navbar_menu li{
        width:100%;
        text-align: center;
    }

    .navbar_icons {
        display:none;
        justify-content: center;
        width:100%;
    }

    .navbar_toggleBtn{
        display:block;
    }


    .navbar_menu.active,
    .navbar_icons.active {
        display:flex;
    }

    .footer{
        display:none;
    }

}