<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 웹 페이지 크기 조정을 위한 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style.css 참조 -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- 자바스크립트 파일로 main.js 참조 -->
    <script src="../js/main.js" defer></script>
    <!-- jQuery CDN -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>MyPick-31</title>
    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- google font CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">

</head>
<body>
    <!-- 상단 메뉴바 -->
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fas fa-ice-cream"></i>
            <a href="">MyPick-31</a>
        </div>

        <ul class="navbar__menu">
            <li><a href="">인기 아이스크림</a></li>
            <li><a href="">MyPick-31 이벤트</a></li>
            <li><a href="">About MyPick-31</a></li>
        </ul>

        <ul class="navbar__icons">
            <li><a href="https://twitter.com/BaskinrobbinsKR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://ko-kr.facebook.com/baskinrobbinskr/"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/baskinrobbinskorea/"><i class="fab fa-instagram"></i></a></li>
        </ul>

        <a href="#" class="navbar__toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <!-- 본문 내용 -->
    <div class="contents">
        <div class="filter__base">
            <h2>베이스</h2>
            <ul class="filter__menu_1">
                <li>
                    <a href="#" role="button" onclick="choco_detail()">
                        <span>초코</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>바닐라</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button" onclick="fruit_detail()">
                        <span>과일</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button" onclick="nuts_detail()">
                        <span>견과류</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>민트</span>
                    </a>
                </li>
            </ul>
            <ul class="filter__menu_2">
                <li>
                    <a href="#" role="button">
                        <span>소다</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>치즈</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>녹차</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>커피</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>요거트</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="detail__menu">
            <div class="choco_detail"></div>
            <div class="fruit_detail"></div>
            <div class="nuts_detail"></div>

        </div>

        <div class="filter__topping">
            <h2>토핑</h2>
            <ul class="filter__list">
                <li>
                    <a href="#" role="button">
                        <span>토핑x</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>초콜릿 토핑</span>
                    </a>
                </li>                
                <li>
                    <a href="#" role="button">
                        <span>과일 토핑</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>견과류 토핑</span>
                    </a>
                </li>
                <li>
                    <a href="#" role="button">
                        <span>캔디 토핑</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 바닥글 -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <address>
                        Copyright ©
                        <a href="https://www.baskinrobbins.co.kr/">BaskinRobbins</a>
                        All Rights Reserved.
                    </address>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>