<!DOCTYPE html>
<html>
<head>
    <!-- jQuery CDN -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <meta charset="UTF-8">
    <!-- 웹 페이지 크기 조정을 위한 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style.css 참조 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    <!-- 자바스크립트 파일로 main.js 참조 -->
{#    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>#}
    <title>MyPick31 - insert_DB</title>
    <!-- fontawesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- google font CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script>
        /////////////////////
        ////DB_insert API////
        /////////////////////

        // create Category-Base
        function createCB() {
            let cbase1 = $('#cbase1').val();
            let cbase2 = $('#cbase2').val();
            $.ajax({
                type: 'post',
                url: '/createCB',
                data: {
                    'cbase1': cbase1,
                    'cbase2': cbase2
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

        // create Category-Topping
        function createCT() {
            let ctopping1 = $('#ctopping1').val();
            let ctopping2 = $('#ctopping2').val();
            $.ajax({
                type: 'post',
                url: '/createCT',
                data: {
                    'ctopping1': ctopping1,
                    'ctopping2': ctopping2
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

        // create Category-Syrup
        function createCS() {
            let csyrup1 = $('#csyrup1').val();
            let csyrup2 = $('#csyrup2').val();
            $.ajax({
                type: 'post',
                url: '/createCS',
                data: {
                    'csyrup1': csyrup1,
                    'csyrup2': csyrup2
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

        // create Flavor-Signature
        function createF_signature() {
            let id = $('#id_sg').val();
            console.log(id);
            let name = $('#name_sg').val();
            let name_eng = $('#name_eng_sg').val();
            let base = $('#base_sg').val();
            let topping = $('#topping_sg').val();
            let syrup = $('#syrup_sg').val();
            let kcal = $('#kcal_sg').val();
            let allergens = $('#allergens_sg').val();
            let img = $('#img_sg').val();
            $.ajax({
                type: 'post',
                url: '/createF_SG',
                data: {
                    'id': id,
                    'name': name,
                    'name_eng': name_eng,
                    'base': base,
                    'topping': topping,
                    'syrup': syrup,
                    'kcal': kcal,
                    'allergens': allergens,
                    'img': img
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

        // create Flavor-Season
        function createF_season() {
            let id = $('#id_ss').val();
            let name = $('#name_ss').val();
            let name_eng = $('#name_eng_ss').val();
            let base = $('#base_ss').val();
            let topping = $('#topping_ss').val();
            let syrup = $('#syrup_ss').val();
            let kcal = $('#kcal_ss').val();
            let allergens = $('#allergens_ss').val();
            let img = $('#img_ss').val();
            $.ajax({
                type: 'post',
                url: '/createF_SS',
                data: {
                    'id': id,
                    'name': name,
                    'name_eng': name_eng,
                    'base': base,
                    'topping': topping,
                    'syrup': syrup,
                    'kcal': kcal,
                    'allergens': allergens,
                    'img': img
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    } else {
                        alert('서버 오류!')
                    }
                }
            })
        }

    </script>

</head>
<body>
<!-- 상단 메뉴바 -->
<nav class="navbar">
    <div class="navbar_logo">
        <i class="fas fa-ice-cream"></i>
        <a href="/">MyPick31</a>
    </div>

    <ul class="navbar_menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/register">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="/insert_db">데이터 삽입</a></li>
        <li><a href="/about">About MyPick31</a></li>
    </ul>

    <ul class="navbar_icons">
        <li><a href="https://twitter.com/BaskinrobbinsKR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                class="fab fa-twitter"></i></a></li>
        <li><a href="https://ko-kr.facebook.com/baskinrobbinskr/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/baskinrobbinskorea/"><i class="fab fa-instagram"></i></a></li>
    </ul>

    <a href="#" class="navbar_toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>

<!-- 본문 내용 -->
<div class="root_DB">
    <div class="root_DB_category">
        <h4>category</h4>
        cbase1<input type="text" id="cbase1"><br>
        cbase2<input type="text" id="cbase2" onKeypress="javascript:if(event.keyCode==13) {createCB()}"><br>
        <button onclick="createCB()">저장</button>
        <br>
        ctopping1<input type="text" id="ctopping1"><br>
        ctopping2<input type="text" id="ctopping2" onKeypress="javascript:if(event.keyCode==13) {createCT()}"><br>
        <button onclick="createCT()">저장</button>
        <br>
        csyrup1<input type="text" id="csyrup1"><br>
        csyrup2<input type="text" id="csyrup2" onKeypress="javascript:if(event.keyCode==13) {createCS()}"><br>
        <button onclick="createCS()">저장</button>

    </div>
    <div class="root_DB_flavor">
        <div class="signature">
            <h4>signature flavor</h4>
            id<input type="text" id="id_sg"><br>
            name<input type="text" id="name_sg"><br>
            name_eng<input type="text" id="name_eng_sg"><br>
            base<input type="text" id="base_sg"><br>
            topping<input type="text" id="topping_sg"><br>
            syrup<input type="text" id="syrup_sg"><br>
            kcal<input type="text" id="kcal_sg"><br>
            allergens<input type="text" id="allergens_sg"><br>
            img<input type="file" id="img_sg">
            <button onclick="createF_signature()">저장</button>
        </div>
        <div class="season">
            <h4>season flavor</h4>
            id<input type="text" id="id_ss"><br>
            name<input type="text" id="name_ss"><br>
            name_eng<input type="text" id="name_eng_ss"><br>
            base<input type="text" id="base_ss"><br>
            topping<input type="text" id="topping_ss"><br>
            syrup<input type="text" id="syrup_ss"><br>
            kcal<input type="text" id="kcal_ss"><br>
            allergens<input type="text" id="allergens_ss"><br>
            img<input type="file" id="img_ss">
            <button onclick="createF_season()">저장</button>
        </div>
    </div>
</div>
</body>
<script>
        ///////////////////////
        // 반응형 웹사이트 구현 //
        ///////////////////////
        // 메뉴바 함수를 위한 변수 선언
        const toggleBtn = document.querySelector('.navbar_toggleBtn');
        const menu = document.querySelector('.navbar_menu');
        const icons = document.querySelector('.navbar_icons');
        // 메뉴바를 누르면 메뉴 나오도록 하는 함수
        toggleBtn.addEventListener('click', () => {
            menu.classList.toggle('active');
            icons.classList.toggle('active');
        });
    </script>
</html>