<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--반응형 ) 웹 페이지 크기 조정을 위한 viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS )  style.css 참조 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
    <!--JS ) 자바스크립트 파일로 main.js 참조 -->
    {#    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>#}
    <!--JQuery) jQuery CDN -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>MyPick31 - HOME</title>
    <!--FONT) fontawesome CDN, google font CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- ?? 테스트  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--JAVASCRIPT CODE -->
    <script type="text/javascript">
        $(document).ready(function () {
            listing_ice_cream();
            check_session();
        })

        // 로그인 여부 확인 함수
        function check_session() {
            // 로그인 안 한 경우
            if ("{{session_email}}" == "") {
                console.log('아직 로그인 x')
                $('.button').hide();
            }
            // 로그인한 경우
            else {
                $('.button').show();
            }
        }

        // 로그아웃
        function logout() {
            jbResult = confirm("정말 로그아웃을 하시겠습니까?");
            if (jbResult == true) {
                $.ajax({
                    type: "POST",
                    url: "/customer_logout",
                    data: {},
                    success: function (response) {
                        location.href = "/"
                    }
                })
            } else {
            }
        }

        // 모든 아이스크림 리스팅
        function listing_ice_cream(something) {
            console.log(something);
            bring_signature_db(something);
            bring_season_db(something);
        }

        // (구)베이스/토핑/시럽 클릭정보 확인
        function check_ice_cream() {
            $('.ice-cream_contents').empty();
            if ("{{para_data}}" == "") {
            } else {
                ice_cream_result = "{{para_data}}"
                if (ice_cream_result == 'None') {

                } else {
                    bring_db(ice_cream_result)
                }
            }
        }

        //db에서 signature 아이스크림 데이터를 가져와서 카드로 배열하는 함수
        function bring_signature_db(ice_cream) {
            bring_ice_cream = ice_cream
            $.ajax({
                type: "GET",
                url: "/bring_signature_ice_cream",
                data: {ice_cream: bring_ice_cream},
                success: function (response) {
                    // 필터링한 아이스크림을 리스팅할 때
                    if (response['result'] == 'success_2') {
                        datas = response['data']
                        console.log('여기들어가자~')
                        for (let i = 0; i < datas.length; i++) {
                            signature_listing_card(i, datas[i]['id'], datas[i]['name'], datas[i]['name_eng'], datas[i]['base'], datas[i]['topping'], datas[i]['syrup'])
                        }
                    }
                    // 모든 아이스크림 리스팅할 때
                    else if (response['result'] == 'success_1') {
                        datas = response['data']
                        console.log('여기말고~')
                        for (let i = 0; i < datas.length; i++) {
                            signature_listing_card(i, datas[i]['id'], datas[i]['name'], datas[i]['name_eng'], datas[i]['base'], datas[i]['topping'], datas[i]['syrup'])
                        }
                    }
                }
            })
        }

        // signature 아이스크림 카드 리스팅 함수
        function signature_listing_card(num, ice_cream_number, name, name_eng, base, topping, syrup) {
            let data_html = `<div class="ice-cream_info" id="signature ${name}" onclick="location.href='/detail?ice_cream=${name}'">\
            <h3 class="ice-cream_title">${name}</h3>\
            ${name_eng}\
            <img src="static/img/signature/${ice_cream_number}-${name}.png" class="ice-cream_image">\
            <p class="ice-cream_base">${base}</p>\
            <p class="ice-cream_topping">${topping}</p>\
            <p class="ice-cream_syrup">${syrup}</p>\
            </div>`

            $('.ice-cream_contents').append(data_html);
        }

        //db에서 season 아이스크림 데이터를 가져와서 카드로 배열하는 함수
        function bring_season_db(ice_cream) {
            bring_ice_cream = ice_cream
            $.ajax({
                type: "GET",
                url: "/bring_season_ice_cream",
                data: {ice_cream: bring_ice_cream},
                success: function (response) {
                    // 필터링한 아이스크림을 리스팅할 때
                    if (response['result'] == 'success_2') {
                        datas = response['data']
                        console.log('여기들어가자~')
                        for (let i = 0; i < datas.length; i++) {
                            season_listing_card(i, datas[i]['id'], datas[i]['name'], datas[i]['name_eng'], datas[i]['base'], datas[i]['topping'], datas[i]['syrup'])
                        }
                    }
                    // 모든 아이스크림 리스팅할 때
                    else if (response['result'] == 'success_1') {
                        datas = response['data']
                        console.log('여기말고~')
                        for (let i = 0; i < datas.length; i++) {
                            season_listing_card(i, datas[i]['id'], datas[i]['name'], datas[i]['name_eng'], datas[i]['base'], datas[i]['topping'], datas[i]['syrup'])
                        }
                    }
                }
            })
        }

        // signature 아이스크림 카드 리스팅 함수
        function season_listing_card(num, ice_cream_number, name, name_eng, base, topping, syrup) {
            let data_html = `<div class="ice-cream_info" id="signature ${name}" onclick="location.href='/detail?ice_cream=${name}'">\
            <h3 class="ice-cream_title">${name}</h3>\
            ${name_eng}\
            <img src="static/img/season/${ice_cream_number}-${name}.png" class="ice-cream_image">\
            <p class="ice-cream_base">${base}</p>\
            <p class="ice-cream_topping">${topping}</p>\
            <p class="ice-cream_syrup">${syrup}</p>\
            </div>`

            $('.ice-cream_contents').append(data_html);
        }

        // base/topping/syrup 항목 클릭시 하위 카테고리 보여주는 함수.
        function nuts_detail() {
            nuts_detail_html = '<i class="fas fa-angle-double-right"></i><li>' +
                '<a href="#"><span>땅콩</span></a></li><li><a href="#"><span>호두</span></a></li>'
            $('.nuts_detail').append(nuts_detail_html)
        }

        //(개발중 - Juni)로그인 상태일 때 '로그아웃', '마이페이지' 버튼 보여주기
        $(document).ready(function () {
            // 로그인을 했을 때
            if ("{{session_email}}" != "") {
                $('.login').empty()
                logout_html = '<a href="#" onclick="logout()">로그아웃</a>'
                $('.login').html(logout_html)
                mypage_html = `<li><a href="/" onclick="alert('업데이트 예정입니다!')">My Page</a></li>`
                $('.navbar_menu').append(mypage_html)
                button_group_html = `<div class="user">{{session_nickname}}</div>\
                <div class="button">\
                <button class="logout_button" type="button" onclick="logout()">로그아웃</button>\
                <button class="mypage_button" type="button" onclick="alert('업데이트 예정입니다!')">마이 페이지</button>\
                </div>`
                $('.top_user_part').html(button_group_html)
            } else {
            }
        })


    </script>
</head>
<body>
<!-- 상단 메뉴바 -->
<nav class="navbar">
    <div class="navbar_logo">
        <i class="fas fa-ice-cream"></i>
        <a href="/">MyPick31</a>
    </div>

    <ul class="navbar_menu">
        <li><a href="/">HOME</a></li>
        <li><a href="/register">회원가입</a></li>
        <li class="login"><a href="/login">로그인</a></li>
        <li><a href="/insert_db">데이터 삽입</a></li>
        <li><a href="/about">About MyPick31</a></li>
    </ul>

    <ul class="navbar_icons">
        <li><a href="https://twitter.com/BaskinrobbinsKR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i
                class="fab fa-twitter"></i></a></li>
        <li><a href="https://ko-kr.facebook.com/baskinrobbinskr/"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/baskinrobbinskorea/"><i class="fab fa-instagram"></i></a></li>
    </ul>

    <a href="#" class="navbar_toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>

<!-- 본문 내용 -->
<div class="contents">
    <div class="top_user_part">
        <div class="user">{{ session_nickname }}</div>
        <div class="button">
            <button class="logout_button" onclick="logout()">로그아웃</button>
            <button class="mypage_button" onclick="alert('업데이트 예정입니다!')">마이 페이지</button>
        </div>
    </div>
    <div class="filter_base">
        <h4>베이스 Base</h4>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="cbase" value="바닐라"><span>바닐라<br>vanilla</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="초콜릿"><span>초콜릿<br>chocolate</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="과일"><span>과일<br>fruits</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="민트"><span>민트<br>mint</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="치즈"><span>치즈<br>cheese</span>
            </li>

        </ul>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="cbase" value="녹차"><span>녹차<br>green tea</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="견과류"><span>견과류<br>nuts</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="커피"><span>커피<br>coffee</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="요거트"><span>요거트<br>yogurt</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="솜사탕"><span>솜사탕<br>ccandy</span>
            </li>
        </ul>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="cbase" value="샤베트"><span>샤베트<br>sherbet</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="소르베"><span>소르베<br>sorbet</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="곡류"><span>곡류<br>grain</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="과자"><span>과자<br>snack</span>
            </li>
            <li>
                <input type="checkbox" name="cbase" value="기타"><span>기타<br>etc</span>
            </li>
        </ul>
    </div>
    <div class="filter_topping">
        <h4>토핑 Topping</h4>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="ctopping" value="초콜릿"><span>초콜릿<br>chocolate</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="초콜릿 칩"><span>초콜릿 칩<br>chocolate chip</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="초코볼"><span>초코볼<br>chocolate ball</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="크런치 초콜릿"><span>크런치 초콜릿<br>crunch chocolate</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="견과류"><span>견과류<br>nuts</span>
            </li>
        </ul>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="ctopping" value="과일"><span>과일<br>fruits</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="케이크"><span>케이크<br>cake</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="쿠키"><span>쿠키<br>cookie</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="크런치"><span>크런치<br>crunch</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="캔디"><span>캔디<br>candy</span>
            </li>
        </ul>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="ctopping" value="과자"><span>과자<br>snack</span>
            </li>
            <li>
                <input type="checkbox" name="ctopping" value="기타"><span>기타<br>etc</span>
            </li>
        </ul>
    </div>
    <div class="filter_syrup">
        <h4>시럽 Syrup</h4>
        <ul class="filter_menu">
            <li>
                <input type="checkbox" name="csyrup" value="초콜릿"><span>초콜릿<br>chocolate</span>
            </li>
            <li>
                <input type="checkbox" name="csyrup" value="카라멜"><span>카라멜<br>caramel</span>
            </li>
            <li>
                <input type="checkbox" name="csyrup" value="과일"><span>과일<br>fruits</span>
            </li>
            <li>
                <input type="checkbox" name="csyrup" value="기타"><span>기타<br>etc</span>
            </li>
        </ul>
    </div>
    <div class="filtering_button">
        <button onclick="filtering()">검색</button>
    </div>
</div>

<!-- 아이스크림 리스팅 부분 -->
<div class="ice-cream_contents">

</div>

<!-- 바닥글 -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer">
                <address>
                    Copyright ©
                    <a href="https://www.baskinrobbins.co.kr/">BaskinRobbins</a>
                    All Rights Reserved.
                </address>
            </div>
        </div>
    </div>
</footer>
</body>
<script>
    ///////////////////////
    // 반응형 웹사이트 구현 //
    ///////////////////////
    // 메뉴바 함수를 위한 변수 선언
    const toggleBtn = document.querySelector('.navbar_toggleBtn');
    const menu = document.querySelector('.navbar_menu');
    const icons = document.querySelector('.navbar_icons');
    // 메뉴바를 누르면 메뉴 나오도록 하는 함수
    toggleBtn.addEventListener('click', () => {
        menu.classList.toggle('active');
        icons.classList.toggle('active');
    });
</script>
<script>
    // 베이스 필터링 개발중 - bibi
    ////////////////////////////
    // *아이스크림 필터링 함수들* //
    ////////////////////////////
    // 베이스 필터링 : 클릭-체크된 베이스 정보 전달-정보 포함된 DB자료 받아옴

    // data 를 전역변수로 설정
    var data = new Array();
    console.log(data)

    function filtering() {
        console.log(data);
        checkBase();
        checkTopping();
        checkSyrup();
        console.log(data);
        //API ?
    }// ->Db로.

    function checkBase() {
        var baseNum = document.getElementsByName("cbase").length;
        // 베이스가 체크된지 확인 후
        var checkedBaseNum = $('input:checkbox[name="cbase"]:checked').length;//체크된 베이스 수
        // 체크된 베이스 value 가져오기
        var checkedBases = [];
        for (var i = 0; i < baseNum; i++) {
            if (document.getElementsByName("cbase")[i].checked == true) {
                checkedBases.push(document.getElementsByName("cbase")[i].value);
            }
        }
        console.log(checkedBases);
        //baseAPI
        jQuery.ajaxSettings.traditional = true; // ajax로 배열 보낼때..

        $.ajax({
            type: "POST",
            url: "/checkBase",
            data: {
                sendBases: [JSON.stringify({checkedBases: checkedBases})]
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    Base_data = response['data'];
                    console.log(Base_data);
                    //data.push(Base_data);
                    for (var i = 0; i<Base_data.length; i++){
                        console.log(Base_data[i][0]);
                        f_Base_data = Object.values(Base_data[i][0]);
                        console.log(f_Base_data);
                        console.log(f_Base_data.length);
                        per_data = f_Base_data.split(',');
                        console.log(per_data);
                    }
                }else{
                    console.log('베이스 정보를 가져오지 못했습니다.')
                }
            }
        })


    }

    function checkTopping() {
        var toppingNum = document.getElementsByName("ctopping").length;
        // 베이스가 체크된지 확인 후
        var checkedToppingNum = $('input:checkbox[name="ctopping"]:checked').length;//체크된 베이스 수
        // 체크된 베이스 value 가져오기
        var checkedToppings = [];
        for (var i = 0; i < toppingNum; i++) {
            if (document.getElementsByName("ctopping")[i].checked == true) {
                checkedToppings.push(document.getElementsByName("ctopping")[i].value);
            }
        }
        console.log(checkedToppings);
        //baseAPI
        jQuery.ajaxSettings.traditional = true; // ajax로 배열 보낼때..

        $.ajax({
            type: "POST",
            url: "/checkTopping",
            data: {
                sendToppings: [JSON.stringify({checkedToppings: checkedToppings})]
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    Topping_data = response['data'];
                    console.log(Topping_data);
                    for (var i = 0; i<Topping_data.length; i++){
                        console.log(Topping_data[i][0]);
                        f_Topping_data = Object.values(Topping_data[i][0]);
                        console.log(f_Topping_data);
                        // data 배열로 베이스 배열 push
                        data.push(f_Topping_data);
                    }
                }else{
                    console.log('토핑 정보를 가져오지 못했습니다.')
                }
            }
        })
    }

    function checkSyrup() {
        var syrupNum = document.getElementsByName("csyrup").length;
        // 베이스가 체크된지 확인 후
        var checkedSyrupNum = $('input:checkbox[name="csyrup"]:checked').length;//체크된 베이스 수
        // 체크된 베이스 value 가져오기
        var checkedSyrups = [];
        for (var i = 0; i < syrupNum; i++) {
            if (document.getElementsByName("csyrup")[i].checked == true) {
                checkedSyrups.push(document.getElementsByName("csyrup")[i].value);
            }
        }
        console.log(checkedSyrups);
        //baseAPI
        jQuery.ajaxSettings.traditional = true; // ajax로 배열 보낼때..

        $.ajax({
            type: "POST",
            url: "/checkSyrup",
            data: {
                sendSyrups: [JSON.stringify({checkedSyrups: checkedSyrups})]
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    Syrup_data = response['data'];
                    console.log(Syrup_data);
                    for (var i = 0; i<Syrup_data.length; i++){
                        console.log(Syrup_data[i][0]);
                        f_Syrup_data = Object.values(Syrup_data[i][0]);
                        console.log(f_Syrup_data);
                        // data 배열로 시럽 배열 push
                        data.push(f_Syrup_data);
                    }
                }else{
                    console.log('시럽 정보를 가져오지 못했습니다.')
                }
            }
        })
    }
</script>
</html>