<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- 웹 페이지 크기 조정을 위한 viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- style.css 참조 -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">
	<!-- 자바스크립트 파일로 main.js 참조 -->
{#	<script src="{{url_for('static', filename='js/main.js')}}" defer></script>#}
	<!-- jQuery CDN -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<title>MyPick31 - Login</title>
	<!-- fontawesome CDN -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
	<!-- google font CDN -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script>
        //////////////
// 로그인 함수//
//////////////
function login() {
    console.log('됐냐?')
    login_id = $('#new_inputEmail').val()
    login_pwd = $('#new_inputPassword').val()
    console.log(login_id)
    $.ajax({
        type: "POST",
        url: "/customer_login",
        data: {receive_id: login_id, receive_pwd: login_pwd},
        success: function (response) {
            // 로그인에 성공한 경우
            if (response['result'] == 'success') {
                user_nickname = response['userdb'];
                alert(user_nickname + '님! ' + 'MyPick31 에 오신 것을 환영합니다!');
                window.location.href = "/?nickname=" + user_nickname;
            }
            // 로그인에 실패한 경우 1 (비밃번호 틀림)
            else if (response['result'] == 'fail1') {
                alert('비밃번호가 다릅니다.');
                $('#new_inputPassword').focus();
            }
            // 로그인에 실패한 경우 2 (계정이 틀림)
            else if (response['result'] == 'fail2') {
                alert('계정이 존재하지 않습니다.');
                $('#new_inputEmail').focus();
            }
        }
    })
}

    </script>
</head>
<body>
	<!-- 상단 메뉴바 -->
	<nav class="navbar">
		<div class="navbar_logo">
			<i class="fas fa-ice-cream"></i>
			<a href="/">MyPick31</a>
		</div>

		<ul class="navbar_menu">
            <li><a href="/">HOME</a></li>
            <li><a href="/register">회원가입</a></li>
            <li><a href="/insert_db">데이터 삽입</a></li>
            <li><a href="/about">About MyPick31</a></li>
        </ul>

		<ul class="navbar_icons">
			<li><a href="https://twitter.com/BaskinrobbinsKR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://ko-kr.facebook.com/baskinrobbinskr/"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://www.instagram.com/baskinrobbinskorea/"><i class="fab fa-instagram"></i></a></li>
		</ul>

		<a href="#" class="navbar_toggleBtn">
			<i class="fas fa-bars"></i>
		</a>
	</nav>

	<!-- 로그인 폼 -->
	<div class="login_box">
		<div class="logo">
			<i class="fas fa-ice-cream"></i>
		</div>
		<h2 class="cover-heading" style="text-align: center">MyPick31 로그인</h2>
		<div class="login_form">
				<div class="form-label-group">
					<label for="new_inputEmail" id="label_id">아이디 : </label>
					<input type="email" id="new_inputEmail" class="form-control" placeholder="아이디를 적어주세요." required autofocus>
				</div>
				<div class="form-label-group">
					<label for="new_inputPassword">비밀번호 : </label>
					<input type="password" id="new_inputPassword" class="form-control" placeholder="영문/숫자 포함 6자 이상" onKeypress="javascript:if(event.keyCode==13) {login()}" required>
				</div>
				<div class="button-group">
					<a href="#" role="button" class="login_button" onclick="login()"><b>로그인</b></a>
				</div>
		</div>
	</div>
</body>
<script>
        ///////////////////////
        // 반응형 웹사이트 구현 //
        ///////////////////////
        // 메뉴바 함수를 위한 변수 선언
        const toggleBtn = document.querySelector('.navbar_toggleBtn');
        const menu = document.querySelector('.navbar_menu');
        const icons = document.querySelector('.navbar_icons');
        // 메뉴바를 누르면 메뉴 나오도록 하는 함수
        toggleBtn.addEventListener('click', () => {
            menu.classList.toggle('active');
            icons.classList.toggle('active');
        });
    </script>
</html>